ion-app {
  background-color: rgb(199, 204, 155);
}

.my-custom-class .popover-content {
  width: 300px;
  margin-top: 16px;
  --box-shadow: none;
  --background: none;
}

.my-custom-class2 {
  --width: 552px;
  --height: 400px;
  margin-top: -400px;
}

.my-custom-class2 ion-grid {
  margin: 0;
  padding-bottom: 0;
}

.my-custom-class2 ion-textarea {
  --padding-top: 0;
}

ion-button ion-text {
  margin-left: 8px;
}
